*{
    padding: 0;
    margin: 0;
}

header{
    height: 7em;
    background-image: linear-gradient(to left,#7292A6, #224459 );
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
    padding-left: 2em;
}

footer{
    background-color: #224459;
    height: 10em;
    color: aliceblue;
    text-align: center;
  
}

main{
    display: flex;    
    
}

nav{
    background-color: rgb(148, 181, 202);
    padding: 2.5em;
    height: 500px;
}

nav li{
    list-style: none;
    padding: 15px;
   
}
nav a{
    text-decoration: none;
    color: #224459;
    font-size: 2em;

}